.fc { /* the calendar root */
    max-width: 1100px;
    margin: 0 auto;
  }

  /* .fc-daygrid-event */
  
  /* Full Day Events */
  /* full-day events, where allDay:true in events */
  .fc-event { 
    background-color: #182C4B; 
    color: white;
    padding-left: 4px;
  }
  
  .fc-event.gcal-event { /* full-day gcal events */
    background-color: #425575;
  }
  
  .fc-event.cmucal-event { /* full-day cmu-cal events */
    background-color: #719F94;
  }

  /* .fc-event.temp-course-event {
    background-color: #f87171;
  }

  .fc-event.temp-club-event {
    background-color: #4ade80;
  } */
