.fc { /* the calendar root */
    max-width: 1100px;
    margin: 0 auto;
  }

  /* .fc-daygrid-event */
  
  /* Full Day Events */
  .fc-event { /* full-day events, where allDay:true in events */
    background-color: #182C4B; 
    color: white;
    padding-left: 4px;
  }
  
  .fc-event.gcal-event { /* full-day gcal events */
    background-color: #425575;
  }
  
  .fc-event.cmucal-event { /* full-day cmu-cal events */
    background-color: #719F94;
  }
  
  /* Hour Specific Event Blocks */
  /* .fc-event.fc-timegrid-event { 
    background-color: transparent;
  }
  
  .fc-event.fc-timegrid-event.gcal-event { 
    border: 2px solid #425575;
  }
  
  .fc-event.fc-timegrid-event.cmucal-event { 
    border: 2px solid #719F94;
  } */
  
  /* Hour Specific Event Block Text */
  /* .fc-timegrid-event .custom-event-text {
    color: black;
  }
  
  .fc-timegrid-event.gcal-event .custom-event-text {
    color: #54698c;
  }
  
  .fc-timegrid-event.cmu-cal-event .custom-event-text {
    color: #719F94;
  } */
  
  
  .fc-dayGridMonth.fc-event { /* full-day events in month view */
  
  }
  
  .fc-timeGridWeek {
  
  }
  
  /* .fc-GCalBtn-button {
    background-color: #007bff; 
    color: white;            
    border: none;             
    border-radius: 4px;      
    padding: 5px 10px;    
    cursor: pointer;    
  }
  
  .fc-GCalBtn-button:hover {
    background-color: red !important; 
  } */